*~
CONTRIBUTORS
autoscan.log
stamp-h1
irena*.tar.gz
irena-0*
irena-1*
irena-2*
irena.spec
config.h
config.h.in
test
a.out
*.o
*.so
.deps
Makefile
Makefile.in
configure
libtool
config.log
config.status
autom4te.cache
aclocal.m4
GPATH
GRTAGS
GSYMS
GTAGS
src/irena
src/tags
.DS_Store
